<div class="main">
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
    <form class="form" [formGroup]="userForm">
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error>
                Username is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="this.userForm.controls['password'].errors.required">
                Password is required.
            </mat-error>
            <mat-error *ngIf="this.userForm.controls['password'].errors.minlength">
                Password should contain at least 6 characters.
            </mat-error>
        </mat-form-field>
    </form>
    <div class="buttons">
        <button 
        class="return-button" 
        mat-fab color="warn"
        [routerLink]="['/home']" 
        >
            <mat-icon>first_page</mat-icon>
        </button>
        <button (click)="submit()" class="submit-button" mat-fab color="primary" [disabled]="userForm.invalid">
            <mat-icon>done</mat-icon>
        </button>
    </div>
</div>