<div class="main">
  <mat-drawer-container class="drawer-container" hasBackdrop="false">
    <mat-drawer class="drawer" #drawer mode="side">
      <p>Link</p>
      <p>Link</p>
      <p>Link</p>
      <p>Link</p>
      <p>Link</p>
      <p>Link</p>
    </mat-drawer>
    <mat-drawer-content>
      <div class="navbar">
        <mat-icon class="menu-button" (click)="drawer.toggle()">menu</mat-icon>
        <a>Link</a>
        <a>Link</a>
        <a>Link</a>
      </div>
      <div class="content">
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>