<div class="main">
  <mat-drawer-container class="drawer-container" hasBackdrop="false">
    <mat-drawer class="drawer" #drawer mode="push">
      <div class="drawer-items">
        <div class="menu-drawer">
          Menu
        </div>
        <div class="navbar-link">Hire a Bike!</div>
        <div class="navbar-link">Bases</div>
        <div class="navbar-link">Models</div>
        <div [routerLink]="['/login']" class="navbar-link">Sign In</div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="navbar">
        <div class="buttons">
          <mat-icon class="menu-button" (click)="drawer.toggle()">
            menu
          </mat-icon>
          <a [routerLink]="['home']" class="logo-text">BikeyApp</a>
          <mat-icon style="margin: 7px 20px 0px 0px; cursor: pointer;" class="bike-logo">pedal_bike</mat-icon>
          <div class="desktop-buttons">
            <a class="navbar-link">Hire a Bike!</a>
            <a class="navbar-link">Bases</a>
            <a class="navbar-link">Models</a>
            <a class="navbar-link" [routerLink]="['/login']">Sign In</a>
          </div>
          <a *ngIf="isLogged()">Hello, {{ getUsername() }}</a>
        </div>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>